*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1{
    margin: 2.5rem;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #f4f4f4;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

a{
    color: #f4f4f4;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    background-color: black;
    border-radius: 0.5rem;
}

a:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in;
}